{% extends "layout.twig" %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h3>Projeto {{ project.name }}</h3>
        </div>
        <div class="col-md-4">
            {% if app.session.get('isAdmin') %}
                <div><a href="/project/edit/{{ project.id }}" class="btn btn-primary small pull-right" title="Editar projeto">Editar Projeto</a></div>
                <div><a href="/quote/new/{{ project.id }}" class="btn btn-primary small marginr pull-right" title="Novo Orçamento">Novo Orçamento</a></div>
            {% endif %}
        </div>
    </div>
    <div class="row form">
        <div class="col-md-6">
            <div>
                <label for="client">Cliente</label><br>
                {% if app.session.get('isAdmin') %}
                    <p><a href="/client/detail/{{ project.client.id }}">{{ project.client.name }}</a></p>
                {% else %}
                    <p>{{ project.client.name }}</p>
                {% endif %}
	       </div>
            <div>
                <label for="tags">Tags</label>
                <p>{{ project and project.tags ? project.tags : "" }}</p>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <label for="description">Descrição</label>
                <p>
                    {{ project and project.description ? project.description | raw |  nl2br : "" }}
                </p>
            </div> 
        </div>
    </div>
    {% if project.quoteCollection | length > 0  and app.session.get('isAdmin') %}
        <div class="row cards margin20">
            <div class="col-md-12">
                <h4>Orcamentos</h4>
            </div>
            {% for quote in project.quoteCollection %}
               <div class="col-md-4">
                    <a data-href="/quote/delete/{{ quote.id }}" data-toggle="confirmation" class="glyphicon glyphicon-remove margin20 edit" title="Apagar orçamento"></a>
                    <a href="/quote/detail/{{quote.id}}" class="thumbnail" title="Visualizar projetos e orçamentos">
                        <span class="caption">
                            <h5>Orçamento versão {{ quote.version }}</h5>
                            {% if quote.priceDescription is not null %}
                                <p>{{ quote.priceDescription | raw }}</p>
                            {% endif %}
                            {% if quote.status == 1 %}
                                <p>Esperando</p>
                            {% endif %}
                            {% if quote.status == 2 %}
                                <p>Aprovado</p>
                            {% endif %}
                            {% if quote.status == 3 %}
                                <p>Não aprovado</p>
                            {% endif %}
                            <p>
                                <time datetime="{{ quote.created }}">{{ quote.created }}</time><br />
                            </p>
                        </span>
                    </a>
                    <a href="/quote/duplicate/{{ quote.id }}" title="Duplicar orçamento" class="duplicate"><i class="glyphicon glyphicon-transfer"></i>duplicar</a>
                    <a href="/quote/edit/{{ quote.id }}" title="Editar orçamento" class="edit"><i class="glyphicon glyphicon-pencil"></i>editar</a>
                </div>
            {% endfor %}
        </div>
    {% endif %}


    <div class="margin30">
        <div class="row requisites">
            <div class="col-md-4">
                <h5>
                    Requisitos
                    <a href="#" title="Adicionar Requisito" class="glyphicon glyphicon-plus"></a>
                    <a href="#" title="Cancelar adição de requisito" class="glyphicon glyphicon-minus"></a>
                </h5>
                <div class="thumbnail">
                    <form class="form" id="projectRequisite">
                        <input type="hidden" id="id" name="id" value="">
                        <input type="hidden" id="projectId" name="projectId" value="{{ project.id }}">
                        <div class="caption">
                            <div>
                                <label for="name">Nome *</label>
                                <input type="text" name="name" id="name" required class="form-control" />
                            </div>
                            <div>
                                <label for="description">Descrição</label>
                                <input type="text" name="description" id="description" class="form-control" />
                            </div>
                            <div>
                                <label for="expectedAmount">Quantidade Horas Estimada *</label>
                                <input type="text" name="expectedAmount" id="expectedAmount" required class="form-control" />
                            </div>
                            <div>
                                <label for="spentAmount">Quantidade Horas Gastas</label>
                                <input type="text" name="spentAmount" id="spentAmount" class="form-control" />
                            </div>
                            <div>
                                <button class="btn btn-success btn-block" type="submit" title="Salvar Requisito">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
            <div class="col-md-6">&nbsp;</div>
        </div>
        <div class="row requisites-card">
            {% if projectRequisitesCollection | length > 0 %}
                {% for requisite in projectRequisitesCollection %}
                    <div class="col-md-4">
                        <span class="thumbnail" rel="{{ requisite.id }}">
                            <div class="caption">
                                <h4>{{ requisite.name }}</h4>
                                <p class="description">{% if requisite.description %}{{ requisite.description }}{% else %}&nbsp;{% endif %}</p>
                                <p class="expectedAmount">
                                    <i class="glyphicon glyphicon-time"></i> {{ requisite.expectedAmount }}h estimadas
                                </p>
                                {% if requisite.spentAmount %}
                                    <p class="spentAmount">
                                        <i class="glyphicon glyphicon-time"></i> {{ requisite.spentAmount }}h gastas
                                    </p>
                                {% endif %}
                            </div>
                            <a href="#" title="Editar Requisito" class="edit" attr-row="{{ requisite.id }}"><i class="glyphicon glyphicon-pencil"></i>editar</a>
                            <a data-href="/requisite/delete/{{ requisite.id }}" data-toggle="confirmation" class="glyphicon glyphicon-remove" title="Apagar requisito"></a>
                        </span>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>


    <div class="row">
        <form action="/project/comment" method="POST" id="privateNote">
            <input type="hidden" name="projectId" value="{{ project.id }}"/>
            <input type="hidden" name="userId" value="{{ userId }}"/>
            <div class="col-md-12">
                <label for="note">Comentários</label>
                <textarea type="text" name="note" id="note" class="form-control" rows="3"></textarea>
            </div> 
            <div class="col-md-12 margin20">
                <button class="btn btn-primary pull-right" type="submit" title="Salvar comentário">Salvar</button>
            </div>
        </form>
    </div> 
    <div class="margin30 comments">
        {% if projectNotesCollection is defined and projectNotesCollection | length > 0 %}
            {% for note in projectNotesCollection %}
                <div class="media">
                    <div class="media-body">
                        {% if note.user.email == app.session.get('email') or  app.session.get('isAdmin') %}
                            <a href="/project/removeComment/{{ note.id }}" class="glyphicon glyphicon-remove pull-right" title="Apagar nota"></a> 
                        {% endif %}
                       <h4 class="media-heading">{{ note.user.name }} - {{ note.user.email }}<small class="text-info"> - criado em {{ note.created | date("d/m/Y H:i:s") }} </small> </h4>
                        {{ note.note | raw |  nl2br  }}
                    </div>
                </div>  
            {% endfor %}
        {% endif %}
    </div>
    <script src="/public/js/requisites.js"></script>
{% endblock %}
