{% extends "layout.twig" %}
{% block content %}
    <div id="main" class="container">
        <div class="row">
            <div class="col-md-9">
                  {% if user is not null %}
                    <h3>Editar Projeto</h4>
                 {% else %}
                    <h3>Novo Projeto</h4>
                 {% endif %}   
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <form class="form" id="new_project" method="POST" action="/project/create">
            <input type="hidden" name="id" value="{{ project ? project.id : "" }}" />
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <label for="name">Nome *</label>
                        <input type="text" name="name" id="name" value="{{ project and project.name ? project.name : "" }}" required class="form-control" />
                    </div>
                    <div>
                        <label for="client">Cliente</label>
                          <select id="client" name="client">
                            {% for client in clients %}
                                <option value="{{ client.id }}" {{ client.id == project.client.id ? 'selected="selected"' : "" }}>{{ client.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="tags">Tags</label>
                        <input type="text" name="tags" id="tags" value="{{ project and project.tags ? project.tags : "" }}" class="form-control" />
                    </div>
                    <div>
                        <label for="privateNotes">Observações privadas</label>
                        <textarea name="privateNotes" id="privateNotes" class="form-control" >{{ project and project.privateNotes ? project.privateNotes : "" }}</textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <label for="description">Description</label>
                        <textarea name="description" id="description" class="form-control" >{{ project and project.description ? project.description : "" }}</textarea>
                    </div> 
                    <div>
                        <label for="clientNotes">Observações para o Cliente</label>
                        <textarea name="clientNotes" id="clientNotes" class="form-control" >{{ project and project.clientNotes ? project.clientNotes : "" }}</textarea>
                    </div>
                    
                </div>
            </div>
            <div class="row submit">

                <div class="col-md-6">
                    <a href="/client" class="btn btn-default" title="Cancelar cadastro">Cancelar</a>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-success" type="submit" title="Salvar cliente">Salvar</button>
                </div>
            </div>
        </form>
    </div>  
{% endblock %}