{% extends "layout.twig" %}
{% block content %}
    <div class="row">
        <div class="col-md-9">
              {% if project is not null %}
                <h3>Editar Projeto</h3>
             {% else %}
                <h3>Novo Projeto</h3>
             {% endif %}   
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <form class="form" id="new_project" method="POST" action="/project/create">
        <input type="hidden" name="id" value="{{ project ? project.id : "" }}" />
        <div class="row">
            <div class="col-md-6">
                <div>
                    <label for="name">Nome *</label>
                    <input type="text" name="name" id="name" value="{{ project and project.name ? project.name : "" }}" required class="form-control" />
                </div>
                <div>
                    {% if client is not null and client.name %}
                        <label for="client">Cliente</label><br>
                        <input type="hidden" name="client" value="{{ client.id }}" />
                        <p><a href="/client/detail/{{ client.id }}">{{ client.name }}</a></p>
                    {% else %}
                        <label for="client">Cliente *</label><br>
                        <select id="client" name="client">
                            {% for client in clients %}
                                <option value="{{ client.id }}" {{ project and client.id == project.client.id ? 'selected="selected"' : "" }}>{{ client.name }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
                <div>
                    <label for="tags">Tags *</label>
                    <input type="text" name="tags" id="tags" value="{{ project and project.tags ? project.tags : "" }}" required class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <label for="description">Descrição *</label>
                    <textarea name="description" id="description" class="form-control" required rows="10">{{ project and project.description ? project.description : "" }}</textarea>
                </div> 
            </div>
        </div>
        <div class="row submit">
            <div class="col-md-6">
                {% if project is not null %}
                    <a href="/project/detail/{{ project.id }}" class="btn btn-default" title="Cancelar cadastro">Cancelar</a>
                {% else %}
                    <a href="/project" class="btn btn-default" title="Cancelar cadastro">Cancelar</a>
                {% endif %}
            </div>
            <div class="col-md-6">
                <button class="btn btn-success" type="submit" title="Salvar cliente">Salvar</button>
            </div>
        </div>
    </form>
{% endblock %}