{% extends "layout.twig" %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            <h3>Projetos</h3>
        </div>
        <div class="col-md-5 clearfix col-md-offset-3">
            <form method="GET" action="/project/search" name="search">
                <div class="input-group form-search">
                  <input type="text" name="query" class="form-control search-query">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" data-type="last">
                        <i class="search-icon glyphicon glyphicon-search"></i>
                    </button>
                  </span>
                </div>
            </form>
        </div>
        <div class="col-md-1">
            <a href="/project/edit" class="btn btn-primary" title="Cadastre um novo projeto">Novo Projeto</a>
        </div>
    </div>
    <div class="row cards">
        {% for project in pagerfanta %}
            <div class="col-md-4">
                <a data-href="/project/delete/{{ project.id }}" data-toggle="confirmation" class="glyphicon glyphicon-remove margin20 edit" title="Apagar projeto"></a>
                <a href="/project/detail/{{ project.id }}" class="thumbnail" title="Visualizar projeto">
                    <span class="caption">
                        <h4>{{ project.name }}</h4>
                        <p>
                            {{ project.client.name }}<br />
                            {{ project.tags }}
                        </p>
                        <div class='row'>
                            <div class='col-md-6'>
                                <small>
                                    {{ project.privateNotesCollection | length == 1 ? project.privateNotesCollection | length ~' Comentário' :  project.privateNotesCollection | length ~' Comentários' }} 
                                </small>
                            </div>
                            <div class='col-md-6'>
                                <small>
                                    {{ project.quoteCollection | length == 1 ? project.quoteCollection | length ~' Orçamento' :  project.quoteCollection | length ~' Orçamentos' }} 
                                </small>
                            </div>
                        </div>
                    </span>
                </a>
                <a href="/project/edit/{{ project.id }}" title="Editar projeto" class="edit"><i class="glyphicon glyphicon-pencil"></i>editar</a>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ htmlPagination|raw }}
        </div>
    </div>
{% endblock %}