{% extends "layout.twig" %}
{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h3>Clientes</h4>
        </div>
        <div class="col-md-3">
            <a href="/project/new/{{ client.id }}" class="btn btn-primary" title="Cadastre um novo projeto">Novo Projeto</a>
        </div>
    </div>

    <div class="row cards">
        <div class="col-md-4">
            <a data-href="/client/delete/{{ client.id }}" data-toggle="confirmation" class="glyphicon glyphicon-remove margin20 edit" title="Apagar cliente"></a>
            <div class="thumbnail">
                <span class="caption">
                    <span class="img-rounded"><span></span><img src="{{ client and client.logotype ? '/public/img/logotypes/' ~ client.logotype : "/public/img/photo_g.png" }}" alt="" width="80" height="80" /></span>
                    <h4>{{ client.name }}</h4>
                    <p>
                        {{ client.projectCollection | length }} Projetos
                    </p>
                </span>
            </div>
            {% if app.session.get('isAdmin') %}
                <a href="/client/edit/{{ client.id }}" title="Editar cliente" class="edit"><i class="glyphicon glyphicon-pencil"></i>editar</a>
            {% endif %}
        </div>
        <div class="col-md-8 projects">
            <h4>Projetos</h4>
            {% for project in client.projectCollection %}
            <div class="thumbnail">
                <div class="caption">
                    <a href="/quote/new/{{ project.id }}" class="btn btn-primary pull-right small" title="Cadastre um novo orçamento">Novo Orçamento</a>
                    <a href="/project/edit/{{ project.id }}" class="btn btn-primary marginr pull-right small" title="Editar projeto">Editar Projeto</a>
                    <h4>
                        <a href="/project/detail/{{ project.id }}" title="Cadastre um novo orçamento">
                            {{ project.name }}
                        </a>
                    </h4>
                    <p>
                        {{ project.tags }}
                    </p>
                        <div class="row">
                            {% for quote in project.quoteCollection %}
                                <div class="col-md-4">
                                    <a href="/quote/detail/{{ quote.id }}" class="thumbnail" title="Visualizar projetos e orçamentos">
                                        <span class="caption">
                                            <h5>Orçamento versão {{ quote.version }}</h5>
                                            <p>{{ quote.status == 1 ? 'Esperando' : 'Aprovado' }}</p>
					                        <p>{{quote.priceDescription | raw }}</p>
                                            <p>
                                                <time datetime="2013-11-09T13:40">{{ quote.created |date("d/m/Y H:i") }}</time><br />
                                             <!--    R$ quote.cost  -->
                                            </p>
                                        </span>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
