{% extends "layout.twig" %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <h3>Clientes</h3>
    </div>
   <div class="col-md-5 clearfix col-md-offset-3">
        <form method="GET" action="/client/search" name="search">
            <div class="input-group form-search">
              <input type="text" name="query" class="form-control search-query">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" data-type="last">
                    <i class="search-icon glyphicon glyphicon-search"></i>
                </button>
              </span>
            </div>
        </form>
    </div>
    <div class="col-md-1">
        <a href="/client/edit" class="btn btn-primary" title="Cadastre um novo cliente">Novo Cliente</a>
    </div>
</div>
<div class="row cards">
    {% for client in pagerfanta %}
        <div class="col-md-4">
            <a data-href="/client/delete/{{ client.id }}" data-toggle="confirmation" class="glyphicon glyphicon-remove pull-right margin20 edit" title="Apagar cliente"></a>
            <a href="/client/detail/{{ client.id }}" class="thumbnail" title="Visualizar projetos e orçamentos">
                <span class="caption">
                    <span class="img-rounded"><span></span>
                        {% if client.logotype %}
                            <img src="/public/img/logotypes/{{ client.logotype }}" alt="" width="" height="80" />
                        {% else %}
                            <img src="/public/img/photo_g.png" alt="" width="80" height="80" />
                        {% endif %}
                    </span>
                    <h4>{{ client.name | length > 25 ? client.name[:21]~' ...' : client.name }}</h4>
                    <p>
                        {{ client.numProjects }} Projetos<br>
                        {{ client.numQuotes | default("0") }} Orçamentos
                    </p>
                </span>
            </a>
            <a href="/client/edit/{{ client.id }}" title="Editar cliente" class="edit"><i class="glyphicon glyphicon-pencil"></i>editar</a>
        </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-md-12">
        {{ htmlPagination|raw }}
    </div>
</div>
{% endblock %}