{% extends "layout.twig" %}
{% block content %}
    <div id="main" class="container">
        <div class="row">
            <div class="col-md-9">
                <h3>Clientes</h4>
            </div>
            <div class="col-md-3">
                <a href="/client/edit" class="btn btn-primary" title="Cadastre um novo cliente">Novo Cliente</a>
            </div>
        </div>
        <div class="row cards">
            {% for client in clients %}
                <div class="col-md-4">
                    <a href="/client/detail/{{ client.id }}" class="thumbnail" title="Visualizar projetos e orçamentos">
                        <span class="caption">
                            <span class="img-rounded"><span></span>
                                {% if client.logotype %}
                                    <img src="/public/img/logotypes/{{ client.logotype }}" alt="" width="80" height="80" />
                                {% else %}
                                    <img src="/public/img/photo_g.png" alt="" width="80" height="80" />
                                {% endif %}
                            </span>
                            <h4>{{ client.name }}</h4>
                            <p>
                                {{ client.numProjects }} Projetos<br>
                                {{ client.numQuotes | default("0") }} Orçamentos
                            </p>
                        </span>
                    </a>
                    <a href="/client/edit/{{ client.id }}" title="Editar cliente" class="edit"><i class="glyphicon glyphicon-pencil"></i>editar</a>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="pagination btn-primary">
                    <li class="active"><a href="#">&lt;</a></li>
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li class="active"><a href="#">&gt;</a></li>
                </ul>
            </div>
        </div>
        
    </div>
{% endblock %}