<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        {% include "header.twig" %}
    </head>
    <body>
        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>
            <nav class="navbar navbar-custom" role="navigation">
                <span class="bg"></span>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 clearfix">
                            <div class="navbar-header clearfix">
                                <span>
                                    {% if app.session.get('isAdmin') %}
                                    <a href="/company">
                                        {% if app.session.get('companyLogotype') != null %}
                                            <img src="/public/img/logotypes/{{ app.session.get('companyLogotype') }}" width="100" height="100" />
                                        {% else %}
                                            <img src="/public/img/photo_g.jpg" width="100" height="100" />
                                        {% endif %}
                                    </a>
                                    <h1>
                                        <a href="/company">
                                            {{ app.session.get('companyName') }}
                                        </a>
                                    </h1>
                                        <a href="/company">
                                            <small>editar</small>
                                        </a>
                                    {% else %}
                                        {% if app.session.get('companyLogotype') != null %}
                                            <img src="/public/img/logotypes/{{ app.session.get('companyLogotype') }}" width="100" height="100" />
                                        {% else %}
                                            <img src="/public/img/photo_g.jpg" width="100" height="100" />
                                        {% endif %}
                                        <h1>
                                            {{ app.session.get('companyName') }}
                                        </h1>
                                    {% endif  %}
                                    <a href="/logout">
                                        <small>sair</small>
                                    </a>
                                </span>
                            <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="collapse navbar-collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    {% if app.session.get('isAdmin') %}
                                        <li><a href="/" title="Dashboard" {{ active_page is defined and active_page == 'panel' ? 'class="current"' : ""}}>Painel</a></li>
                                        <li><a href="/status" title="Gerenice seus Orçamentos" {{  active_page is defined and  active_page == 'status' ? 'class="current"' : ""}}>Status board</a></li>
                                        <li><a href="/client" title="Gerenice seus clientes" {{  active_page is defined and  active_page == 'client' ? 'class="current"' : ""}}>Clientes</a></li>
                                    {% endif %}
                                    <li><a href="/project" title="Gerencie seus projetos" {{  active_page is defined and  active_page == 'project' ? 'class="current"' : ""}}>Projetos</a></li>
                                </ul>
                            <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div id="main" class="container">
            {% for flashMessage in app.session.flashbag.get('message') %}
                <div class="text-center center-block">
                    <h4>
                        <span class="label label-danger">
                            {{ flashMessage }}
                        </span>
                    </h4>
                </div>
            {% endfor %}            
            {% block content %}{% endblock %}
        </div>
        <footer class="margin20">
            <div class="container">
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <span>Sistema de Orçamentos Coderockr</span>
                        </div>
                        <div class="col-md-6">
                            <a href="mailto:suporte@coderockr.com?subject=Sistema de Orçamento" title="Dúvidas? Sugestão? Precisa de Ajuda?">suporte@coderockr.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        {% include "scripts.twig" %}
    </body>
</html>
