{% extends "layout.twig" %}
{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h3>Usuário {{ user.name }}</h3>
        </div>
        <div class="col-md-3">
           
        </div>
    </div>
    <div class="div">
        <input type="hidden" name="id" value="{{ user ? user.id : "" }}" />
        <div class="row">
            <div class="col-md-6">
                <div>
                    <label for="name">Nome</label>
                    <p>{{ user and user.name ? user.name : "" }}</p>
                </div>
                <div>
                    <label for="email">E-mail</label>
                    <p>{{ user ? user.email : "" }}</p>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <label for="admin">Admin</label> 
                    {{ user and user.admin ? '<i class="glyphicon glyphicon-ok"></i>' : '<i class="glyphicon glyphicon-remove"></i>' }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
