{% extends "layout_share.twig" %}
{% block content %}
    <div class="form margin20">
        <ul class="quote_header clearfix">
            <li>
                <strong> Cliente: </strong> {{ share.quote.project.client.name }} 
            </li>
            <li>
                <strong> Projeto: </strong> {{ share.quote.project.name }}
            </li>
            <li>
               <strong> Versão: </strong> {{ share.quote.version }}
            </li>
        </ul>  
    </div>
    {% if share.quote.privateNotes is not null %}
        <div class="row margin20">
            <div class="col-md-12">
                <h4>Descrição dos serviços</h4>
            </div>
        </div>    
        <div class="row">
            <div class="col-md-12">
                {{ share.quote.privateNotes }}
            </div>
        </div>    
    {% endif %}

    {% if share.quote.deadline is not null %}
        <div class="row margin20">
            <div class="col-md-12">
                <h4>Prazos de Entrega</h4>
            </div>
        </div>    
        <div class="row">
            <div class="col-md-12">
                {{ share.quote.deadline }}
            </div>
        </div>  
    {% endif %}

    {% if share.quote.priceDescription is not null %}
        <div class="row margin20">
            <div class="col-md-12">
                <h4>Investimentos</h4>
            </div>
        </div>    
        <div class="row">
            <div class="col-md-12">
                {{ share.quote.priceDescription }}
            </div>
        </div> 
    {% endif %}

    {% if share.quote.paymentType is not null %}
        <div class="row margin20">
            <div class="col-md-12">
                <h4>Formas de pagamento</h4>
            </div>
        </div>    
        <div class="row">
            <div class="col-md-12">
                {{ share.quote.paymentType }}
            </div>
        </div>   
    {% endif %}

    {% if share.quote.privateNotes is not null %}
        <div class="row margin20">
            <div class="col-md-12">
                <h4>Observaçoes gerais</h4>
            </div>
        </div>    
        <div class="row">
            <div class="col-md-12">
                {{ share.quote.privateNotes }}
            </div>
        </div>
    {% endif %}

    {% if share.quote.dueDate is not null %}
        <div class="row margin20">
            <div class="col-md-12">
                Este orçamento é válido até {{ share.quote.dueDate | date('d/m/Y') }}
            </div>
        </div> 
    {% endif %}

    <div class="row margin20">
        <div class="col-md-12">
           <strong>{{ createdSignature }}</strong>
        </div>
    </div>
    {# if resourceCollection is defined and resourceCollection | length > 0 %}
        <div class="margin30">
            <h4>Recursos</h4>
            <div class="row resources">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                              <th>#</th>
                              <th>Tipo</th>
                              <th>Recurso</th>
                              <th class="text-right">Quantidade</th>
                              <th class="text-right">Valor</th>
                              <th class="text-right">Resultado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set result = 0 %}
                            {% for resourceQuote in resourceCollection %}
                                <tr>
                                    <th></th>
                                    <th>{{ resourceQuote.resource.type.name }}</th>
                                    <th>{{ resourceQuote.resource.name }}</th>
                                    <th class="text-right">{{ resourceQuote.amount }}</th>
                                    <th class="text-right">R$ {{ resourceQuote.resource.cost | number_format(2, '.', ',')  }}</th>
                                    <th class="text-right">R$ {{ (resourceQuote.resource.cost * resourceQuote.amount) | number_format(2, '.', ',') }}</th>
                                    {% set result = result + (resourceQuote.resource.cost * resourceQuote.amount) %}
                                </tr>
                            {% endfor %}
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th class="text-right">Total</th>
                                <th class="text-right">{{ result | number_format(2, '.', ',') }}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>  
            </div>  
        </div>  
    {% endif #}
    <div class="row margin30 printHide">
        <form action="/share/comment" method="POST" id="shareNote">
            <input type="hidden" name="shareId" value="{{ share.id }}"/>
            <div class="col-md-12">
                <label for="note">Comentários</label>
                <textarea type="text" name="note" id="note" class="form-control" rows="3"></textarea>
            </div> 
            <div class="col-md-12 margin20">
                <button class="btn btn-primary pull-right" type="submit" title="Salvar comentário">Salvar</button>
            </div>
        </form>
    </div> 
    <div class="margin30 comments printHide">
        {% if shareNotesCollection is defined and shareNotesCollection | length > 0 %}
            {% for note in shareNotesCollection %}
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading"> {{ note.share.email }}<small class="text-info"> - criado em {{ note.created | date("d/m/Y H:i:s") }} </small> </h4>
                        {{ note.note }}
                    </div>
                </div>  
            {% endfor %}
        {% endif %}
    </div>  
{% endblock %}
    