{% extends "layout.twig" %}
{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h3>Dados do Orçamento</h4>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="form margin20">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <label for="name">Cliente</label>
                    <p>{{ quote.project.client.name }}</p>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <label for="responsable">Projeto</label>
                    <p>{{ quote.project.name }}</p>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <label for="logo-file">Versão</label>
                    <p>{{ quote.version }}</p>
                </div>
            </div>
        </div>
    </div>
    {% if resourceCollection is defined and resourceCollection | length > 0 %}
        <div class="margin30">
            <h4>Recursos</h4>
            <div class="row resources">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                              <th>#</th>
                              <th>Tipo</th>
                              <th>Recurso</th>
                              <th>Quantidade</th>
                              <th class="text-right">Valor</th>
                              <th class="text-right">Resultado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for resourceQuote in resourceCollection %}
                                <tr>
                                    <th></th>
                                    <th>{{ resourceQuote.resource.type.name }}</th>
                                    <th>{{ resourceQuote.resource.name }}</th>
                                    <th class="text-center">{{ resourceQuote.amount }}</th>
                                    <th class="text-right">R$ {{ resourceQuote.resource.cost | number_format(2, '.', ',')  }}</th>
                                    <th class="text-right">R$ {{ (resourceQuote.resource.cost * resourceQuote.amount) | number_format(2, '.', ',') }}</th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>  
            </div>  
        </div>  
    {% endif %}
{% endblock %}
    