{% extends "layout.twig" %}
{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h3>Dados do Orçamento</h4>
        </div>
        <div class="col-md-3">
            <div ><a class="btn btn-primary small" data-toggle="modal" data-target="#share">Compartilhar</a></div>
            <div class="margin10"><a href="/quote/preview/{{ quote.id }}" target="_blank" class="btn btn-primary small" title="Ver orçamento">Visualizar prévia</a></div>
            <div class="margin10"><a href="/quote/edit/{{ quote.id }}" class="btn btn-primary small" title="Editar orçamento">Editar Orçamento</a></div>
        </div>
    </div>
    <div class="form margin20">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <label for="name">Cliente</label>
                    <p><a href="/client/detail/{{ quote.project.client.id }}">{{ quote.project.client.name }}</a></p>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <label for="responsable">Projeto</label>
                    <p><a href="/project/detail/{{ quote.project.id }}">{{ quote.project.name }}</a></p>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <label for="logo-file">Versão</label>
                    <p>{{ quote.version }}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <label for="profit">Margem de lucro</label>
                    <p>{{ quote.profit }} %</p>
                </div>
            </div>
            <div class="col-md-1">
                <div>
                    <label for="status">Status</label>
                    <p>{{ quote.status  == 1 ? "Esperando" : "Aprovado" }}</p>
                </div>
            </div>
        </div> 
        <div class="row margin30">
            <div class="col-md-5">
                <div>
                    <label for="dueDate">Validade do Orçamento</label>
                    <p>{{ quote.dueDate is not null ? quote.dueDate | date('d/m/Y') : "" }}</p>
                </div>
            </div>
            <div class="col-md-5">
                <div> 
                    <label for="deadline">Prazo de entrega</label>
                    <p>{{ quote.deadline is not null ? quote.deadline : "" }}</p>
                </div>
            </div>
            <div class="col-md-2">
                <div> 
                    <label for="taxes">Nota fiscal</label>
                    <p>{{ quote.taxes is not null ? quote.taxes : quote.project.company.taxes }}</p>
                </div>
            </div>
        </div>
        <div class="row margin30">
            <div class="col-md-6">
                <div>
                    <label for="paymentType">Formas de pagamento</label>
                    <p>{{ quote.paymentType is not null ? quote.paymentType : "" }}</p>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <label for="priceDescription">Investimentos</label>
                    <p>{{ quote.priceDescription is not null ? quote.priceDescription : "" }}</p>
                </div>
            </div>
        </div>
        <div class="row margin20">
          <div class="col-md-12">
                <div>
                    <label for="privateNotes">Obs</label>
                    <p>{{ quote.privateNotes is not null ? quote.privateNotes : "" }}</p>
                </div>
            </div>
        </div>
    </div>
    {% if resourceCollection is defined and resourceCollection | length > 0 %}
        <div class="margin30">
            <h4>Recursos</h4>
            <div class="row resources">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                              <th>#</th>
                              <th>Tipo</th>
                              <th>Recurso</th>
                              <th class="text-right">Quantidade</th>
                              <th class="text-right">Valor</th>
                              <th class="text-right">Resultado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set result = 0 %}
                            {% for resourceQuote in resourceCollection %}
                                <tr>
                                    <th></th>
                                    <th>{{ resourceQuote.resource.type.name }}</th>
                                    <th>{{ resourceQuote.resource.name }}</th>
                                    <th class="text-right">{{ resourceQuote.amount }}</th>
                                    <th class="text-right">R$ {{ resourceQuote.value | number_format(2, '.', ',')  }}</th>
                                    <th class="text-right">R$ {{ (resourceQuote.value * resourceQuote.amount) | number_format(2, '.', ',') }}</th>
                                    {% set result = result + (resourceQuote.value * resourceQuote.amount) %}
                                </tr>
                            {% endfor %}
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th class="text-right">Total</th>
                                <th class="text-right">{{ result | number_format(2, '.', ',') }}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>  
            </div>  
        </div>  
    {% endif %}
    <div class="modal fade" id="share" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="/share/create">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Compartilhar</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="quoteId" value="{{ quote.id }}" />
                        <div class="row">
                            <div class="col-md-12">
                                <label for="email">Email</label>
                                <div class="input-group">
                                    <input type="text" name="email" id="email" class="form-control" />
                                    <span class="input-group-btn">
                                        <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-plus "></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group margin20">
                            {% if shareCollection is defined and shareCollection | length > 0 %}
                                {% for share in shareCollection %}
                                    <li class="list-group-item">
                                        <a href="#" class="glyphicon glyphicon-remove pull-right" rel="{{ share.id }}" title="Apagar email"></a>
                                        {{ share.sent | length > 0 ? "<a href='#' class='pull-right share-status btn btn-primary small'>Reenviar</a>" : "<span class='pull-right share-status'>Aguardando envio</span>" }}</span>
                                        {{ share.email }}
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
     <div class="margin30 comments">
        {% if shareNotesCollection is defined and shareNotesCollection | length > 0 %}
            {% for note in shareNotesCollection %}
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading"> {{ note.share.email }}<small class="text-info"> - criado em {{ note.created | date("d/m/Y H:i:s") }} </small> </h4>
                        {{ note.note }}
                    </div>
                </div>  
            {% endfor %}
        {% endif %}
    </div>  
{% endblock %}
    