{% extends "layout.twig" %}
{% block content %}
<div class="row">
    <div class="col-md-9">
        <h3>Dados do Orçamento</h4>
    </div>
    <div class="col-md-3">
        {% if quote.id is defined %}
            <a href="/quote/detail/{{ quote.id }}" class="btn btn-primary pull-right small" title="Detalhes do orçamento">Detalhes do orçamento</a>
        {% endif %}

    </div>
</div>
<form class="form quote" action="/quote/create" method="POST">
    <input type="hidden" name="id" value="{{ quote ? quote.id : "" }}" />
    <input type="hidden" name="projectId" value="{{ project.id }}" />
    <input type="hidden" name="version" value="{{ version }}" />
    <div class="form margin20">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <label for="name">Cliente</label>
                    <p><a href="/user/detail/{{ project.client.id }}">{{ project.client.name }}</a></p>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <label for="project">Projeto</label>
                    <p><a href="/project/detail/{{ project.id }}">{{ project.name }}</a></p>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <label for="logo-file">Versão</label>
                    <p>{{ version }}</p>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <label for="profit">Margem de Lucro</label>
                    <input type="text" id="profit" name="profit" value=" {{ quote.profit is defined and quote.profit ? quote.profit : "" }}">
                    
                </div>
            </div> 
            <div class="col-md-2">
                <div>
                    <label for="status">Status *</label><br>
                    <select name="status">
                        <option value="1" {{ quote.status is defined and quote.status == 1 ? 'selected="selected"' : "" }}>Esperando</option>
                        <option value="2" {{ quote.status is defined and quote.status == 2 ? 'selected="selected"' : "" }}>Aprovado</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row margin30">
            <div class="col-md-1">
                <div>
                    <label for="dueDate">Validade</label><br>
                    <input type="text" id="dueDate" name="dueDate" value="{{ quote.dueDate is not null ? quote.dueDate | date("d/m/Y") : "" }}">
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <label for="paymentType">Formas de pagamento</label>
                    <textarea name="paymentType" id="paymentType" class="form-control" rows="3">{{ quote.paymentType is defined and quote.paymentType ? quote.paymentType : "" }}</textarea>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <label for="priceDescription">Investimentos</label>
                    <textarea name="priceDescription" id="priceDescription" class="form-control" rows="3">{{ quote.priceDescription is defined and quote.priceDescription ? quote.priceDescription : "" }}</textarea>
                </div>
            </div>

            <div class="col-md-3">
                <div>
                    <label for="deadline">Prazo de entrega</label>
                    <textarea name="deadline" id="deadline" class="form-control" rows="3">{{ quote.deadline is defined and quote.deadline ? quote.deadline : "" }}</textarea>
                </div>
            </div> 
        </div>
        <div class="row margin20">
            <div class="col-md-12">
                <div>
                    <label for="privateNotes">Obs</label>
                    <textarea name="privateNotes" id="privateNotes" class="form-control"  rows="6">{{ quote.privateNotes ? quote.privateNotes : "" }}</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="margin30">
        <h4>Recursos</h4>
        <div class="row resources">
            <div class="col-md-3">
                <h5>
                    Equipamentos
                    <a href="#" class="glyphicon glyphicon-plus" title="Adicionar equipamento"></a>
                    <a href="#" class="glyphicon glyphicon-minus" title="Cancelar adição de equipamento"></a>
                </h5>
                <div class="thumbnail">
                    <div class="form">
                        <div class="caption">
                            <div>
                                <label for="amount">Tempo *</label>
                                <input type="text" name="amount" id="amount" class="form-control" />
                            </div>
                            <div class="margin10">
                                <label for="resource">Recurso</label>
                                <select name="resource" id="resource">
                                    {% for equipment in equipmentResources %}
                                        <option value=" {{ equipment.id }}"> {{ equipment.name }}</option>
                                    {% endfor %}
                                </select>
                            </div> 
                            <div>
                                <a href="#" class="btn btn-success btn-block" type="submit" title="Salvar cliente">Salvar</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% if quoteEquipmentResources | length > 0 %}
                    {% for equipment in quoteEquipmentResources %}
                        <span class="thumbnail">
                            <input type="hidden" name="quoteResource[{{ equipment.resource.id }}]" value="{{ equipment.amount }}" />
                            <div class="caption">
                                <h4>{{ equipment.resource.name }}</h4>
                                <p>
                                    {{ equipment.amount }} h
                                </p>
                            </div>
                            <a data-href="/resource/delete/{{ equipment.id }}" data-toggle="confirmation" class="glyphicon glyphicon-remove edit" title="Apagar equipamento"></a>
                        </span>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-3">
                <h5>
                    Serviço
                    <a href="#" class="glyphicon glyphicon-plus" title="Adicionar matéria-prima"></a>
                    <a href="#" class="glyphicon glyphicon-minus" title="Cancelar adição de matéria-prima"></a>
                </h5>
                <div class="thumbnail">
                    <div class="form" >
                        <div class="caption">
                            <div>
                                <label for="amount">Tempo *</label>
                                <input type="text" name="amount" id="amount" class="form-control" />
                            </div>
                            <div class="margin10">
                                <label for="resource">Recurso</label>
                                <select name="resource" id="resource">
                                    {% for service in serviceResources %}
                                        <option value=" {{ service.id }}"> {{ service.name }}</option>
                                    {% endfor %}
                                </select>
                            </div> 
                            <div>
                                <a href="#" class="btn btn-success btn-block" title="Salvar cliente">Salvar</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% if quoteServiceResources | length > 0 %}
                    {% for service in quoteServiceResources %}
                        <span class="thumbnail">
                            <input type="hidden" name="quoteResource[{{ service.resource.id }}]" value="{{ service.amount }}" />
                            <div class="caption">
                                <h4>{{ service.resource.name }}</h4>
                                <p>
                                    {{ service.amount }} h
                                </p>
                            </div>
                            <a data-href="/resource/delete/{{ service.id }}" data-toggle="confirmation" class="glyphicon glyphicon-remove edit" title="Apagar matéria-prima"></a>
                        </span>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-3">
                <h5>
                    RH
                    <a href="#" class="glyphicon glyphicon-plus" title="Adicionar pessoa"></a>
                    <a href="#" class="glyphicon glyphicon-minus" title="Cancelar adição de pessoa"></a>
                </h5>
                <div class="thumbnail">
                    <div class="form" >
                        <div class="caption">
                            <div>
                                <label for="amount">Tempo *</label>
                                <input type="text" name="amount" id="amount" class="form-control" />
                            </div>
                            <div class="margin10">
                                <label for="resource">Recurso</label>
                                <select name="resource" id="resource">
                                    {% for human in humanResources %}
                                        <option value=" {{ human.id }}"> {{ human.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <a href="#" class="btn btn-success btn-block" title="Salvar cliente">Salvar</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% if quoteHumanResources | length > 0 %}
                    {% for human in quoteHumanResources %}
                        <span class="thumbnail">
                            <input type="hidden" name="quoteResource[{{ human.resource.id }}]" value="{{ human.amount }}" />
                            <div class="caption">
                                <h4>{{ human.resource.name }}</h4>
                                <p>
                                    {{ human.amount }} h
                                </p>
                            </div>
                            <a class="glyphicon glyphicon-remove edit" title="Apagar pessoa"></a>
                        </span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>  
    </div>   
    <div class="row submit">
        <div class="col-md-12">
            <button class="btn btn-success pull-right" type="submit" title="Salvar orçamento">Salvar</button>
        </div>
    </div>
</form>

{% endblock %}
    